@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@font-face {
    font-family: 'League Gothic';
    src: url('fonts/LeagueGothic-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'UD Digi Kyokasho N-R';
    src: url('fonts/UDDigiKyokashoN-R.ttc') format('truetype');
}
:root {
    --main-text: #0173D7;
    --alt-text: #0173D7;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

#sitelinks {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20pt;
    text-align: right;
    padding: 5px;
    background-color: darkslateblue;
    border-radius: 10px 0px 0px 10px;
    border-right: 15px solid var(--main-text);
    margin-right: 5px;
    margin-top: 5px;
}

#sitelinks a {
    color: white;
}

#searchbox{
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
    background-color: #302f33;
    color: var(--main-text);
    font-size: 14pt;
    font-family: 'Open Sans Italic', sans-serif;
    font-style: italic;
    display: block;
    position: relative;
    caret-color: transparent;
    margin: 0 auto;
    padding: 15px;
}

#mainframe {
    width: 100%;
    position: relative;
    padding: 15px;
    margin: 0 auto;
}

#stripe {
    width: 50%;
    height: 40%;
    position: absolute;
    text-align: center;
    left: 0;
    top: 10%;
}

#footer {
    position: left;
    text-align: center;
    padding: 10px;
    font-size:30%;
    margin-right: 125px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#linkblock {
    font-family: 'Open Sans', sans-serif;
    width:15%;
    height: 230px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:00px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    color:var(--main-text);
    text-align: center;
    background-position:top 0px center ;
    background-repeat:no-repeat;
    font-size:12pt;
    display: inline-block;
    vertical-align: top;
}

#blocktitle {
    border-color: var(--main-text);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

img {
	max-width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	background-color: rgba(0,0,0,0.3);
}

table, th, td {
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
}

tr:nth-child(even) {
	background-color: rgba(0,0,0,0.3);
}

html { font-size: 62.5%; }
html, body { height: 100%; }

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 150%;
	line-height: 1.3;
	color: #f6e6cc;
	width: 700px;
	margin: auto;
	background: #27221a;
	position: relative;
	padding: 0 30px;
}

p,ul,ol,dl,table,pre { margin-bottom: 1em; }
ul { margin-left: 20px; }
a { text-decoration: none; cursor: pointer; color: #ba832c; font-weight: bold; }
a:focus { outline: 1px dotted; }
a:visited {  }
a:hover, a:focus { color: #d3a459; text-decoration: none; }
a *, button * { cursor: pointer; }
hr { display: none; }
small { font-size: 90%; }
input, select, button, textarea, option { font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; font-size: 100%; }
button, label, select, option, input[type=submit] { cursor: pointer; }
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .group {display: inline-block;}
/* Hides from IE-mac \*/ * html .group {height: 1%;} .group {display: block;} /* End hide from IE-mac */
sup { font-size: 80%; line-height: 1; vertical-align: super; }
button::-moz-focus-inner { border: 0; padding: 1px; }
span.amp { font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; font-weight: normal; font-style: italic; font-size: 1.2em; line-height: 0.8; }

h1,h2,h3,h4,h5,h6 { 
    line-height: 1.1; 
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}

h2 { font-size: 22pt; }
h3 { font-size: 20pt; }
h4 { font-size: 18pt; }
h5 { font-size: 16pt; }
h6 { font-size: 14pt; }

::selection { background: #745626; }
::-moz-selection { background: #745626; }

h1 {
	font-size: 420%;
	margin: 0 0 0.1em;
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}

h1 a,
h1 a:hover {
	color: #d7af72;
	font-weight: normal;
	text-decoration: none;
}

pre {
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 8px 10px;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	overflow-x: hidden;
}

pre code {
	font-size: 10pt;
}

.thumb { 
    float:left;
    margin: 10px;
}
