@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@font-face {
    font-family: 'League Gothic';
    src: url('fonts/LeagueGothic-Regular.otf') format('truetype');
}
@font-face {
		font-family: 'UD Digi Kyokasho N-R';
		src: url('fonts/UDDigiKyokashoN-R.ttc') format('truetype');
}
	:root {
		--main-text: #0173D7;
		--alt-text: #0173D7;
	}

	body {
		background-image: url("background.jpg");
		background-repeat: no-repeat;
	}

	#Title {
		font-family: 'UD Digi Kyokasho N-R', sans-serif;
		color: var(--main-text);
		font-size: 60px;
		position: relative;
		margin: 0 auto;
		padding: 15px;
	}

	#searchbox{
		width: 50%;
		height: 50px;
		border: none;
		border-radius: 20px;
		outline: none;
		background-color: #302f33;
		color: var(--main-text);
		font-size: 14pt;
		font-family: 'Open Sans Italic', sans-serif;
		font-style: italic;
		display: block;
		position: relative;
		caret-color: transparent;
		margin: 0 auto;
		padding: 15px;
	}

	#mainframe {
		width: 80%;
		position: relative;
		padding: 15px;
		margin: 0 auto;
	}

	#stripe {
		width: 50%;
		height: 40%;
		position: absolute;
		text-align: center;
		right:0;
		top: 25%;
	}

	#footer {
		position: right;
		text-align: center;
		padding: 10px;
		font-size:30%;
		margin-right: 125px;
		margin-left: auto;
		margin-top: auto;
		margin-bottom: auto;
	}

	#linkblock {
		font-family: 'Open Sans', sans-serif;
		width:15%;
		height: 230px;
		/*background-color: crimson; /*DEBUG*/
		margin-left:10px;
		margin-right:10px;
		margin-top:00px;
		margin-bottom:00px;
		padding-left:0px;
		padding-right:0px;
		padding-top:0px;
		padding-bottom:0px;
		color:var(--main-text);
		text-align: center;
		background-position:top 0px center ;
		background-repeat:no-repeat;
		font-size:12pt;
		display: inline-block;
		vertical-align: top;
	}
	#blocktitle {
		border-color: var(--main-text);
		border-style: solid;
		border-width: 1px;
		border-radius: 0px;
		padding-top: 3px;
		padding-bottom: 4px;
		margin-bottom: 5px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {
		margin-bottom: 0px;
	}


	a:link { text-decoration:none; font-weight:normal; color:var(--main-text); }
	a:visited { text-decoration:none; font-weight:normal; color:var(--main-text); }
	a:hover { text-decoration:none; font-weight:normal; color:var(--alt-text); }
	a:active { text-decoration:none; font-weight:normal; color:var(--main-text); }
	a:focus { text-decoration:none; font-weight:normal; color:var(--main-text); }

