---
---

@import "style.css";

body {
  background-image: url("stars.jpg");
  background-repeat: repeat;
}

a {
  color: var(--yellow);
}

img {  
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}