---
---

@import "{{ site.theme }}";

body {
    background-image: url("https://raw.githubusercontent.com/ColeW-Picaro/ColeW-Picaro.github.io/master/assets/css/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;  
}

#content {
    color: aliceblue;
    background-color: slateblue;
    opacity: 0.8;
}

a {
    color: lightblue;
}

h1, h2, h3, h4 {    
    color: lightblue !important;
    text-align: center;
}

#searchbox {
    text-align: center;
    margin: auto;
    display: block;
    color: lightblue;
    width: 60%;
    height: 2em;
    background: black;
    border: transparent;
    border-radius: 10px;		
}

#uni, #other, #gen {
    float: left;
    display: inline;
    width: 33%;
}

.links {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}

#content > .links {
    vertical-align: middle;
}

