---
---

@import "{{ site.theme }}";

body {
    background-image: url("https://raw.githubusercontent.com/ColeW-Picaro/ColeW-Picaro.github.io/master/assets/css/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

#content {
    color: aliceblue;
    background-color: slateblue;
    opacity: 0.8;
    radius: 1em;
}
